body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d5e3f9;
}
.card{
    margin:5rem 0;
    display: flex;
    flex-direction: column;
    width: 40vw;
    max-width: 360px;
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
}
img{
    border-radius: 1rem;
}
.card h1{
    text-align: center;
    padding: 0 1rem;
    font-size: 1.5rem;
}
.card p{
    text-align: center;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: rgb(104, 104, 104);
}